<a href="https://colab.research.google.com/github/Zabala2612/Anal-tica-I/blob/main/Tareas/Tarea_funcion_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Función DataFrame.groupby()**

DataFrame.groupby() se utiliza para agrupar datos en un DataFrame basándose en los valores de una o más columnas. Esto es especialmente útil para realizar cálculos estadísticos por grupo, como sumas, medias, máximos, mínimos, etc. También es esencial para operaciones más avanzadas como transformaciones dentro de grupos o filtros condicionales basados en estadísticas de grupo.

#**EJEMPLO**

In [ ]:
import pandas as pd


data = {
    'Nombre': ['Juan', 'Sofia', 'Manuel', 'Messi', 'Neymar', 'James'],
    'Nota': [9, 8, 7.5, 8.5, 7, 8],
    'Asignatura': ['Matemáticas', 'Matemáticas', 'Matemáticas', 'Biología', 'Biología', 'Biología']
}

df = pd.DataFrame(data)


print(df)

   Nombre  Nota   Asignatura
0    Juan   9.0  Matemáticas
1   Sofia   8.0  Matemáticas
2  Manuel   7.5  Matemáticas
3   Messi   8.5     Biología
4  Neymar   7.0     Biología
5   James   8.0     Biología

Supongamos que queremos calcular la puntuación media de cada alumno en todas las materias:

In [ ]:
grouped = df.groupby('Nombre')['Nota'].mean()

print(grouped)

Nombre
James     8.0
Juan      9.0
Manuel    7.5
Messi     8.5
Neymar    7.0
Sofia     8.0
Name: Nota, dtype: float64

También podríamos querer ver cómo cada estudiante se desempeñó en cada materia. Para eso, podríamos agrupar por dos columnas:

In [ ]:
grouped = df.groupby(['Nombre', 'Asignatura'])['Nota'].mean()

print(grouped)

Nombre  Asignatura
James   Biología       8.0
Juan    Matemáticas    9.0
Manuel  Matemáticas    7.5
Messi   Biología       8.5
Neymar  Biología       7.0
Sofia   Matemáticas    8.0
Name: Nota, dtype: float64